{% extends 'base.html.twig' %}

{% block body %}

    EDIT USER TEMPLATE<br>

    {{ user.name }}, {{ user.surname }}<br/>

    ROLES<br/>
    <ul>
    {% for role in user.getRoles() %}
        <li>{{ role }}</li>
    {% endfor %}
    </ul>

    {#{{ user.getRoles() }}<br/>#}
    {#{{ roles }}<br/>#}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    isSubmitted: {{ isSubmitted ? 'true' : 'false' }}
    isValid: {{ isValid ? 'true' : 'false' }}

{% endblock %}