{#% if formEvent is defined %}
    {{ form(formEvent)}}
{% endif %#}

<form id="user_event" name="user_event" method="post">
    <div class="col-xs-12 col-lg-6">
        <div class="form-group form-material">
            <label class="form-control-label">Contact method <span class="required">*</span></label>
            <select id="user_event_contactMethod" name="user_event[contactMethod]" data-plugin="select2" data-placeholder="" data-allow-clear="true" aria-hidden="true" required="required">
                <option></option>
                <option value="phone">phone</option>
                <option value="email">email</option>
                <option value="viber">viber</option>
                <option value="whatsapp">whatsapp</option>
                <option value="facebook">facebook</option>
                <option value="facetime">facetime</option>
                <option value="facetoface">face to face</option>
                <option value="form">form</option>
                <option value="other">other</option>
            </select>
        </div>
        <div class="form-group form-material">
            <label class="form-control-label">Form origin</label>
            <select id="user_event_formOrigin" name="user_event[formOrigin]" data-plugin="select2" data-placeholder="" data-allow-clear="true" aria-hidden="true">
                <option value=""></option>
                {% for formOrigin in formsOrigin %}
                    <option value="{{ formOrigin.id }}">{{ formOrigin.formName }} - {{ formOrigin.formDomain }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group form-material">
            <label class="form-control-label">Date <span class="required">*</span></label>
            <input type="text" id="user_event_date" class="form-control" class="datepicker" name="user_event[date]" data-plugin="datepicker" required="required" value="{{ event.date is empty ? '' : event.date|date('d/m/Y') }}">
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="form-group form-material">
            <label class="form-control-label">Contact origin <span class="required">*</span></label>
            <select id="user_event_contactOrigin" name="user_event[contactOrigin]" data-plugin="select2" data-placeholder="" data-allow-clear="true" aria-hidden="true" required="required">
                <option></option>
                <option value="customer">customer</option>
                <option value="operator">operator</option>
            </select>
        </div>
        <div class="form-group form-material">
            <label class="form-control-label">Contact reason <span class="required">*</span></label>
            <select id="user_event_contactReason" class="form-control" name="user_event[contactReason]" data-plugin="select2" data-placeholder="" data-allow-clear="true" aria-hidden="true" required="required">
                <option></option>
                <option value="general">general</option>
                <option value="commercial">commercial</option>
                <option value="panorex">panorex</option>
                <option value="estimate">estimate</option>
                <option value="acceptedestimate">accepted estimate</option>
            </select>
        </div>
        <div class="form-group form-material">
            <label class="form-control-label">Estimate</label>
            <select id="user_event_estimate" name="user_event[estimate]" data-plugin="select2" data-placeholder="" data-allow-clear="true" aria-hidden="true">
                <option></option>
                <option value="2999">< 3000</option>
                <option value="3000">>= 3000</option>
                <option value="5000">> 5000</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group form-material">
            <label class="form-control-label">Message</label>
            <input type="text" id="user_event_message" class="form-control" name="user_event[message]" value="{{ event.message }}">
        </div>
        <div class="form-group form-material">
            <label class="form-control-label">Notes</label>
            <input type="text" id="user_event_notes" class="form-control" name="user_event[notes]" value="{{ event.notes }}">
        </div>
    </div>
    <div class="col-xs-12">
        <input type="hidden" id="user_event__token" name="user_event[_token]" value="{{ formEvent._token.vars.value }}">
        <input type="hidden" id="user_event_id" name="user_event[id]" value="{{ event.id }}">
        <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
        <button type="submit" id="user_event_save" class="btn btn-primary waves-effect waves-light update-event" name="user_event[save]">Update event</button>
    </div>
</form>

<script>
    $( document ).ready(function() {
        $("#ajaxresponse_formUserEventEdit #user_event_contactMethod").val("{{ event.contactMethod }}").trigger("change");
        $("#ajaxresponse_formUserEventEdit #user_event_contactReason").val("{{ event.contactReason }}").trigger("change");
        $("#ajaxresponse_formUserEventEdit #user_event_contactOrigin").val("{{ event.contactOrigin }}").trigger("change");
        $("#ajaxresponse_formUserEventEdit #user_event_formOrigin").val("{{ event.formOrigin.id | default("")}}").trigger("change");
        $("#ajaxresponse_formUserEventEdit #user_event_estimate").val("{{ event.estimate | default("")}}").trigger("change");

        if($('#ajaxresponse_formUserEventEdit #user_event_contactMethod').val() != 'form'){
            $('#ajaxresponse_formUserEventEdit #user_event_formOrigin').prop("disabled", true);
        }

        $('#ajaxresponse_formUserEventEdit #user_event_contactMethod').change(function() {
            if (this.value == 'form') {
                $('#ajaxresponse_formUserEventEdit #user_event_formOrigin').prop("disabled", false);
            }
            else{
                $('#ajaxresponse_formUserEventEdit #user_event_formOrigin').val("").trigger("change");
                $('#ajaxresponse_formUserEventEdit #user_event_formOrigin').prop("disabled", true);
            }
        });

        // Validation
        // ---------------------------------
        (function() {
            $('#user_event').formValidation({
                framework: "bootstrap4",
                button: {
                    selector: '#user_event_save'
                },
                icon: null,
                err: {
                    clazz: 'text-help'
                },
                row: {
                    invalid: 'has-danger'
                },
                fields: {
                    "user_event[contactMethod]": {
                        validators: {
                            notEmpty: {
                                message: 'required'
                            }
                        }
                    },
                    "user_event[contactReason]": {
                        validators: {
                            notEmpty: {
                                message: 'required'
                            }
                        }
                    },
                    "user_event[formOrigin]": {
                        validators: {
                        }
                    },
                    "user_event[date]": {
                        validators: {
                            notEmpty: {
                                message: 'required'
                            },
                            dateITA: {
                                format: 'dd/mm/yyyy'
                            }
                        }
                    },
                    "user_event[message]": {
                        validators: {
                            stringLength: {
                                max: 500
                            }
                        }
                    },
                    "user_event[notes]": {
                        validators: {
                            stringLength: {
                                max: 255
                            }
                        }
                    },
                }
            });
        })();

    });
</script>

