{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header page-header-bordered">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item">User</li>
        </ol>
        <h1 class="page-title">{{ user.name }} {{ user.surname }}</h1>
    </div>

    {# renders all fields *and* the form start and end tags #}
    {#{ form(formJourney) }#}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Events</h3>
                </div>
                <div class="panel-body">
                    <table id="table"
                           data-toggle="table"
                           data-search="true"
                           data-pagination="true"
                           data-classes="table table-no-bordered"
                           data-show-columns="true">
                        <thead>
                        <tr>
                            <th data-field="contactMethod">How</th>
                            <th data-field="contactOrigin">Origin</th>
                            <th data-field="contactReason">Reason</th>
                            <th data-field="date">Date</th>
                            <th data-field="estimate">Estimate</th>
                            <th data-field="formOrigin">Form Origin</th>
                            <th data-field="message">Message</th>
                            <th data-field="notes">Notes</th>
                            <th data-field="op">Edit</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary waves-effect waves-light add-event" data-target="#addEvent" data-toggle="modal" type="button">Add event</button>
                </div>
            </div>

            <!-- Modal Add Event-->
            <div class="modal fade" id="addEvent" aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalTitle">Add Event</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                {% include 'user/formUserEvent.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Update Event-->
            <div class="modal fade" id="editEvent" aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalTitle">Update Event</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div id="ajaxresponse_formUserEventEdit"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
            <script>
                $( document ).ready(function() {
                    var $table = $("#table");
                    var data = [
                        {% for event in userEvents %}
                        {
                            "contactMethod": '{{ event.contactMethod }}',
                            "contactOrigin": '{{ event.contactOrigin }}',
                            "contactReason": '{% if event.contactReason == "estimate" %}sentestimate{% else %}{{ event.contactReason }}{% endif %}',
                            "date": '{{ event.date|date('d/m/Y') }}',
                            "estimate": '{% if event.estimate == 2999 %}< 3000{% elseif event.estimate == 3000 %}>= 3000{% elseif event.estimate == 5000%}>= 5000{% endif %}',
                            "formOrigin": '{{ event.formOrigin.formName|default("") }} {{ event.formOrigin.formDomain|default("") }} {{ event.formOrigin.notes|default("") }}',
                            "message": '{{ event.message }}',
                            "notes": '{{ event.notes }}',
                            "op": '<button type="button" data-id="{{ event.id }}" class="btn btn-sm btn-icon btn-primary btn-round waves-effect waves-effect edit-event" data-target="#editEvent" data-toggle="modal" data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></button><button href="{{ path('eventDelete', {'userid': event.customerUser.id, 'eventid': event.id}) }}" class="btn btn-sm btn-icon btn-danger btn-round btn-raised waves-effect waves-effect pull-right warningConfirm delete-event" data-toggle="tooltip" data-original-title="Delete event"><i class="icon md-delete" aria-hidden="true"></i></button>'
                        },
                        {% endfor %}
                    ];
                    $table.bootstrapTable({data: data});

                    $table.bootstrapTable();
                    $table.bootstrapTable('hideColumn', 'agent');
                    $table.bootstrapTable('hideColumn', 'agentCountry');

                    $('.edit-event').click(function() {
                        var id = $(this).data('id');
                        var route = '{{ path('ajax_formUserEventEdit', { 'id': "PLACEHOLDER" }) }}';
                        route = route.replace("PLACEHOLDER", id);
                        $target = $(this).attr('href');
                        $.ajax({
                            type: 'POST',
                            url:  route,
                            success: function(response) {
                                $('#ajaxresponse_formUserEventEdit').html(response);
                                $('.modal-body').find('[data-plugin="select2"]').select2({ width: '100%' });
                                $('.modal-body').find('[data-plugin="datepicker"]').datepicker({weekStart:1});
                            },
                            async: false
                        })
                    });
                });
            </script>

            <script>
                $( document ).ready(function() {
                    $('.delete-event').on("click", function() {
                        $target = $(this).attr('href');
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this event!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Yes, delete it!',
                            closeOnConfirm: false,
                            //closeOnCancel: false
                        },
                        function() {
                            swal({
                                title: "Deleted!",
                                text: "Your event has been deleted!",
                                type: "success",
                                showConfirmButton: false
                            });
                            setTimeout(function() {
                                window.location = $target;
                            }, 1000);
                        });
                    });
                });
            </script>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6">

            <div class="panel h-600">
                <div class="panel-heading">
                    <h3 class="panel-title">User</h3>
                </div>
                <div class="panel-body user-details">
                    <button type="button" class="btn btn-sm btn-icon btn-primary btn-round waves-effect edit-user" data-target="#editUser" data-toggle="modal" data-toggle="tooltip" data-original-title="Edit">
                        <i class="icon md-edit" aria-hidden="true"></i>
                    </button>
                    <div class="row"><span class="heading col-md-3">Name:</span> <span class="content col-md-9">{{ user.name|capitalize }}</span></div>
                    <div class="row"><span class="heading col-md-3">Surname:</span> <span class="content col-md-9">{{ user.surname|capitalize }}</span></div>
                    <div class="row"><span class="heading col-md-3">Email:</span> <span class="content col-md-8">{{ user.email }}</span></div>
                    <div class="row"><span class="heading col-md-3">Phone number:</span> <span class="content col-md-9">{{ user.phoneNumber }}</span></div>
                    <div class="row"><span class="heading col-md-3">Address:</span> <span class="content col-md-9">{{ user.streetName|capitalize }} {{ user.cityName|capitalize }} {{ user.zipCode }} </br> {{ user.countryRegion|title }} {{ user.countryName|upper }}</span></div>
                    <div class="row"><span class="heading col-md-3">Birthdate:</span> <span class="content col-md-9">{{ (user.birthDate is empty ? '' : user.birthDate|date('d/m/Y'))|raw }}</span></div>
                    <div class="row"><span class="heading col-md-3">Taxcode:</span> <span class="content col-md-9">{{ user.taxCode }}</span></div>
                    <div class="row"><span class="heading col-md-3">Typology:</span> <span class="content col-md-9">{{ user.status|capitalize }}</span></div>
                    <div class="row"><span class="heading col-md-3">Source:</span> <span class="content col-md-9">{{ user.source|capitalize }} - {% if user.source == "dem" %} {{ user.demOrigin.demName|default("") }} {{ user.demOrigin.discount|default(0) }}% {% elseif user.source == "agent" %} {{ user.agentUser.name|default("")  }} {{ user.agentUser.surname|default("")  }} {% elseif user.source == "presentation" %} {{ user.presentation.name|default("") }} {{ (user.presentation is null ? '' : user.presentation.date|date('d/m/Y'))|raw }} {% endif %} </span></div>
                    <div class="row"><span class="heading col-md-3">Notes:</span> <span class="content col-md-9">{{ user.notes|capitalize }}</span></div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="editUser" aria-hidden="true" role="dialog" >
                <div class="modal-dialog modal-lg modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalTitle">Update User</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                {% include 'user/formUserEdit.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="panel h-600">
                <div class="panel-heading">
                    <h3 class="panel-title">Documents</h3>
                </div>
                <div class="panel-body">
                    {% for document in userDocuments %}
                        <button href="{{ path('documentDelete', {'userid': user.id, 'documentid': document.id}) }}" class="btn btn-sm btn-icon btn-danger btn-round btn-raised waves-effect waves-effect pull-right warningConfirm delete-file" data-toggle="tooltip" data-original-title="Delete file">
                            <i class="icon md-delete" aria-hidden="true"></i>
                        </button>
                        <div class="row"><span class="heading col-md-3">Name:</span><span class="content col-md-9"><a href="/download/{{ user.id }}/{{ document.documentName }}" target="_blank">{{ document.name|capitalize }}</a></span></div>
                        <div class="row"><span class="heading col-md-3">Typology:</span><span class="col-md-9">{{ document.documentType|capitalize }}</span></div>
                        <div class="row"><span class="heading col-md-3">Date:</span><span class="content col-md-9">{{ document.uploadAt|date('d/m/Y') }}</span></div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary waves-effect waves-light" data-target="#addDocument" data-toggle="modal" type="button">Add document</button>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="addDocument" aria-hidden="true" role="dialog" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalTitle">Add document</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                {% include 'user/formUserDocument.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
            <script>
                $( document ).ready(function() {

                    $('.delete-file').on("click", function() {
                        $target = $(this).attr('href');
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this file!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Yes, delete it!',
                            closeOnConfirm: false,
                            //closeOnCancel: false
                            },
                        function() {
                            swal({
                                title: "Deleted!",
                                text: "Your file has been deleted!",
                                type: "success",
                                showConfirmButton: false
                            });
                            setTimeout(function() {
                                window.location = $target;
                            }, 1000);
                        });
                    });

                });
            </script>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6">

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Journey</h3>
                </div>
                <div class="panel-body">
                    {% for journey in userJourneys %}
                        <button type="button" data-id="{{ journey.id }}" class="btn btn-sm btn-icon btn-primary btn-round waves-effect edit-journey" data-target="#editJourney" data-toggle="modal" data-toggle="tooltip" data-original-title="Edit">
                            <i class="icon md-edit" aria-hidden="true"></i>
                        </button>
                        <button href="{{ path('journeyDelete', {'userid': user.id, 'journeyid': journey.id}) }}" class="btn btn-sm btn-icon btn-danger btn-round btn-raised waves-effect waves-effect pull-right warningConfirm delete-journey" data-toggle="tooltip" data-original-title="Delete journey">
                            <i class="icon md-delete" aria-hidden="true"></i>
                        </button>
                        <div class="row"><span class="heading col-md-4">Clinic:</span><span class="content col-md-4">{{ journey.clinic|capitalize }}</span></div>
                        <div class="row"><span class="heading col-md-4">Arrival date:</span><span class="content col-md-8">{{ journey.arrivalDate|date('d/m/Y') }}</span></div>
                        <div class="row"><span class="heading col-md-4">Appointment date:</span><span class="content col-md-8">{{ journey.appointmentDate|date('d/m/Y') }}</span></div>
                        <div class="row"><span class="heading col-md-4">Appointment two date:</span><span class="content col-md-8">{{ journey.appointmentTwoDate is empty ? "" : journey.appointmentTwoDate|date('d/m/Y') }}</span></div>
                        <div class="row"><span class="heading col-md-4">Appointment three date:</span><span class="content col-md-8">{{ journey.appointmentThreeDate is empty ? "" : journey.appointmentThreeDate|date('d/m/Y') }}</span></div>
                        <div class="row"><span class="heading col-md-4">Appointment four date:</span><span class="content col-md-8">{{ journey.appointmentFourDate is empty ? "" : journey.appointmentFourDate|date('d/m/Y') }}</span></div>
                        <div class="row"><span class="heading col-md-4">Appointment five date:</span><span class="content col-md-8">{{ journey.appointmentFiveDate is empty ? "" : journey.appointmentFiveDate|date('d/m/Y') }}</span></div>
                        <div class="row"><span class="heading col-md-4">Appointment six date:</span><span class="content col-md-8">{{ journey.appointmentSixDate is empty ? "" : journey.appointmentSixDate|date('d/m/Y') }}</span></div>


                        <div class="row"><span class="heading col-md-4">Departure date:</span><span class="content col-md-8">{{ journey.departureDate|date('d/m/Y') }}</span></div>
                        <div class="row"><span class="heading col-md-4">Stay place:</span><span class="content col-md-8">{{ journey.accommodation|capitalize }}</span></div>
                        <div class="row"><span class="heading col-md-4">Stay address:</span><span class="content col-md-8">{{ journey.accommodationAddress|capitalize }}</span></div>
                        <div class="row"><span class="heading col-md-4">Transport load to client:</span><span class="content col-md-8">{{ journey.transportLoadClient }}</span></div>
                        <div class="row"><span class="heading col-md-4">Transport load to Hc:</span><span class="content col-md-8">{{ journey.transportLoadHc }}</span></div>
                        <div class="row"><span class="heading col-md-4">Night load to client:</span><span class="content col-md-8">{{ journey.nightLoadClient }}</span></div>
                        <div class="row"><span class="heading col-md-4">Night load to Hc:</span><span class="content col-md-8"> {{ journey.nightLoadHc }}</span></div>
                        <div class="row"><span class="heading col-md-4">Notes:</span><span class="content col-md-8">{{ journey.notes|capitalize }}</span></div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary waves-effect waves-light" data-target="#addJourney" data-toggle="modal" type="button">Add journey</button>
                </div>
            </div>

            <!-- Modal Add Journey-->
            <div class="modal fade" id="addJourney" aria-hidden="true" role="dialog" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalTitle">Add Journey</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                {% include 'user/formUserJourney.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <!-- Modal Update Journey-->
            <div class="modal fade" id="editJourney" aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalTitle">Update Journey</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div id="ajaxresponse_formUserJourneyEdit"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
            <script>
                $( document ).ready(function() {
                    $('.delete-journey').on("click", function() {
                        $target = $(this).attr('href');
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this journey!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Yes, delete it!',
                            closeOnConfirm: false,
                            //closeOnCancel: false
                        },
                        function() {
                            swal({
                                title: "Deleted!",
                                text: "Journey has been deleted!",
                                type: "success",
                                showConfirmButton: false
                            });
                            setTimeout(function() {
                                window.location = $target;
                            }, 1000);
                        });
                    });
                });
            </script>

            <script>
                $( document ).ready(function() {
                    $('.edit-journey').click(function() {
                        var id = $(this).data('id');
                        var route = '{{ path('ajax_formUserJourneyEdit', { 'id': "PLACEHOLDER" }) }}';
                        route = route.replace("PLACEHOLDER", id);
                        $.ajax({
                            type: 'POST',
                            url:  route,
                            success: function(response) {
                                $('#ajaxresponse_formUserJourneyEdit').html(response);
                                $('.modal-body').find('[data-plugin="select2"]').select2({ width: '100%' });
                                $('.modal-body').find('[data-plugin="datepicker"]').datepicker();
                            },
                            async: false
                        })
                    });
                });
            </script>
        </div>

        <div class="col-sm-12 col-md-6">

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Quote</h3>
                </div>
                <div class="panel-body">
                    {% for quote in quotes %}
                        <div class="row"><span class="heading col-md-4">Quote:</span><a href="{{ path('userQuote', {'userid': user.id, 'quoteid': quote.id}) }}"><span class="content col-md-4">{{ quote.date|date('d/m/Y') }}</span></a><span class="content col-md-4">{{ quote.treatmentTotalFare }} €</span></div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary waves-effect waves-light" data-target="#addQuote" data-toggle="modal" type="button">Add quote</button>
                </div>
            </div>

            <!-- Modal Add Quote-->
            <div class="modal fade" id="addQuote" aria-hidden="true" role="dialog" >
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalTitle">Add Quote</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                {% include 'user/formQuote.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

        </div>

    </div>


{% endblock %}