{% extends 'base.html.twig' %}

{% block bodyClass %}animsition app-calendar page-aside-left{% endblock %}

{% block body %}
    <div class="page-aside">
        <div class="page-aside-switch">
            <i class="icon md-chevron-left" aria-hidden="true"></i>
            <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner page-aside-scroll">
            <div data-role="container">
                <div data-role="content">
                    <section class="page-aside-section js-calendars">
                        <h5 class="page-aside-title">{% trans %}CALENDAR LIST{% endtrans %}</h5>
                        <div class="list-group has-actions">
                            {% for calendar in calendars %}
                                <a class="list-group-item" href="#" data-plugin="editlist" data-color="{{ calendar.color }}" data-type="{{ calendar.dateName }}">
                                    <div class="list-content">
                                        <span class="item-right js-count"></span>
                                        <i class="md-circle m-r-10" style="color:{{ calendar.color }}" aria-hidden="true"></i>
                                        <span class="list-text">{{ calendar.name|trans }}</span>
                                        <div class="item-actions">
                                            <span class="btn btn-pure btn-icon"><i class="icon md-delete" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="list-editable">
                                        <div class="form-group form-material">
                                            <input type="text" class="form-control empty" name="label" value="{{ calendar.name }}">
                                            <button type="button" class="input-editable-close icon md-close" data-toggle="list-editable-close" aria-label="Close" aria-expanded="true"></button>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </section>
                    <section class="page-aside-section js-customers">
                        <h5 class="page-aside-title">{% trans %}CUSTOMER LIST{% endtrans %}</h5>
                        <div class="list-group calendar-list">
                            <a class="list-group-item calendar-event" data-title="Meeting" data-stick=true href="javascript:void(0)"></a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="page-main">
        <div class="calendar-container">
            <div id="calendar"></div>
        </div>
    </div>

    <script id="CustomerTpl" type="text/template">{% include 'calendar/templates/customer.html.twig' %}</script>
    <script id="EventTpl" type="text/template">{% include 'calendar/templates/event.html.twig' %}</script>

{% endblock %}