<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-extend.min') }}.css">
        <link rel="stylesheet" href="{{ asset('assets/css/site.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/skins/cyan.min.css') }}">
        <!-- Plugins -->
        <link rel="stylesheet" href="{{ asset('assets/css/login-v3.css') }}">
        <!-- Fonts -->
        <link rel="stylesheet" href="{{ asset('assets/fonts/material-design/material-design.min.css') }}">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
        <!--[if lt IE 9]>
        <script src="{{ asset('assets/vendor/html5shiv/html5shiv.min.js') }}"></script>
        <![endif]-->
        <!--[if lt IE 10]>
        <script src="{{ asset('assets/vendor/media-match/media.match.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/respond/respond.min.js') }}"></script>
        <![endif]-->
        <script src="{{ asset('assets/vendor/breakpoints/breakpoints.js') }}"></script>
        <script>
            Breakpoints();
        </script>

    </head>
    <body>



        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        <!-- Core  -->
        <script src="{{ asset('assets/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery/jquery.js') }}"></script>
        <script src="{{ asset('assets/vendor/tether/tether.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/bootstrap.js') }}"></script>
        <script src="{{ asset('assets/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
        <script src="{{ asset('assets/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
        <script src="{{ asset('assets/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
        <script src="{{ asset('assets/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>
        <script src="{{ asset('assets/vendor/waves/waves.js') }}"></script>
        <!-- Plugins -->
        <script src="{{ asset('assets/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>
        <!-- Scripts -->
        <script src="{{ asset('assets/js/State.js') }}"></script>
        <script src="{{ asset('assets/js/Component.js') }}"></script>
        <script src="{{ asset('assets/js/Plugin.js') }}"></script>
        <script src="{{ asset('assets/js/Base.js') }}"></script>
        <script src="{{ asset('assets/js/Config.js') }}"></script>
        <script src="{{ asset('assets/js/Section/Menubar.js') }}"></script>
        <script src="{{ asset('assets/js/Section/Sidebar.js') }}"></script>
        <script src="{{ asset('assets/js/Plugin/menu.js') }}"></script>
        <!-- Page -->
        <script src="{{ asset('assets/js/Site.js') }}"></script>
        <script src="{{ asset('assets/js/Plugin/asscrollable.js') }}"></script>
        <script src="{{ asset('assets/js/Plugin/switchery.js') }}"></script>
        <script src="{{ asset('assets/js/Plugin/jquery-placeholder.js') }}"></script>
        <script src="{{ asset('assets/js/Plugin/material.js') }}"></script>

        <script>
            (function(document, window, $) {
                'use strict';
                var Site = window.Site;
                $(document).ready(function() {
                    Site.run();
                });
            })(document, window, jQuery);
        </script>

    </body>
</html>


