{% extends 'base.html.twig' %}

{% block scripts %}

    <script>
        $( document ).ready(function() {
            var $alertAction = $('.alert-actions');
            $alertAction.on('click', '.js-alert-confirm', function (ev) {
                var $target = $(ev.currentTarget);
                var href = $target.data('href');
                var user = $target.data('user');
                swal({
                    title: "Is interested now?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Yes',
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function() {
                    $.ajax({
                        method: 'POST',
                        url: href,
                        data : {
                            user : user,
                        }
                    })
                    .done(function () {
                        swal({
                            title: "Good job!",
                            text: "",
                            type: "success",
                            timer: 2000,
                            showConfirmButton: false,
                            closeOnConfirm: true
                        });
                        location.reload();
                    })
                    .fail(function () {
                        swal({
                            title: "Error!",
                            text: "Oops... Something went wrong!",
                            type: "error"
                        });
                    });
                });
            });
            $alertAction.on('click', '.js-alert-confirm-later', function (ev) {
                var $target = $(ev.currentTarget);
                var href = $target.data('href');
                var user = $target.data('user');
                swal({
                    title: "Is interested later?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Yes',
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function() {
                    $.ajax({
                        method: 'POST',
                        url: href,
                        data : {
                            user : user,
                        }
                    })
                    .done(function () {
                        swal({
                            title: "Good job!",
                            text: "",
                            type: "success",
                            timer: 2000,
                            showConfirmButton: false,
                            closeOnConfirm: true
                        });
                        location.reload();
                    })
                    .fail(function () {
                        swal({
                            title: "Error!",
                            text: "Oops... Something went wrong!",
                            type: "error"
                        });
                    });
                });
            });
            $alertAction.on('click', '.js-alert-not-confirm', function (ev) {
                var $target = $(ev.currentTarget);
                var href = $target.data('href');
                var user = $target.data('user');
                swal({
                    title: "No answer?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Yes, not able to contact client.',
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function() {
                    $.ajax({
                        method: 'POST',
                        url: href,
                        data : {
                            user : user,
                        }
                    })
                    .done(function () {
                        swal({
                            title: "Good job!",
                            text: "",
                            type: "success",
                            timer: 2000,
                            showConfirmButton: false,
                            closeOnConfirm: true
                        });
                        location.reload();
                    })
                    .fail(function () {
                        swal({
                            title: "Error!",
                            text: "Oops... Something went wrong!",
                            type: "error"
                        });
                    });
                });
            });
            $alertAction.on('click', '.js-alert-confirm-appointment', function (ev) {
                var $target = $(ev.currentTarget);
                var href = $target.data('href');
                var user = $target.data('user');
                swal({
                    title: "Appointment confirmed?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Yes',
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function() {
                    $.ajax({
                        method: 'POST',
                        url: href,
                        data : {
                            user : user,
                        }
                    })
                    .done(function () {
                        swal({
                            title: "Good job!",
                            text: "",
                            type: "success",
                            timer: 2000,
                            showConfirmButton: false,
                            closeOnConfirm: true
                        });
                        location.reload();
                    })
                    .fail(function () {
                        swal({
                            title: "Error!",
                            text: "Oops... Something went wrong!",
                            type: "error"
                        });
                    });
                });
            });
            $alertAction.on('click', '.js-alert-not-confirm-appointment', function (ev) {
                var $target = $(ev.currentTarget);
                var href = $target.data('href');
                var user = $target.data('user');
                swal({
                    title: "No contact?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'no contact',
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function() {
                    $.ajax({
                        method: 'POST',
                        url: href,
                        data : {
                            user : user,
                        }
                    })
                    .done(function () {
                        swal({
                            title: "Try tomorrow!",
                            text: "",
                            type: "success",
                            timer: 2000,
                            showConfirmButton: false,
                            closeOnConfirm: true
                        });
                        location.reload();
                    })
                    .fail(function () {
                        swal({
                            title: "Error!",
                            text: "Oops... Something went wrong!",
                            type: "error"
                        });
                    });
                });
            });
            $alertAction.on('click', '.js-alert-confirm-appointment-after', function (ev) {
                var $target = $(ev.currentTarget);
                var href = $target.data('href');
                var user = $target.data('user');
                swal({
                    title: "Post therapy confirmed?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Yes',
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function() {
                    $.ajax({
                        method: 'POST',
                        url: href,
                        data : {
                            user : user,
                        }
                    })
                    .done(function () {
                        swal({
                            title: "Good job!",
                            text: "",
                            type: "success",
                            timer: 2000,
                            showConfirmButton: false,
                            closeOnConfirm: true
                        });
                        location.reload();
                    })
                    .fail(function () {
                        swal({
                            title: "Error!",
                            text: "Oops... Something went wrong!",
                            type: "error"
                        });
                    });
                });
            });
            $alertAction.on('click', '.js-alert-not-confirm-appointment-after', function (ev) {
                var $target = $(ev.currentTarget);
                var href = $target.data('href');
                var user = $target.data('user');
                swal({
                    title: "Post therapy confirmed?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'no contact',
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                function() {
                    $.ajax({
                        method: 'POST',
                        url: href,
                        data : {
                            user : user,
                        }
                    })
                    .done(function () {
                        swal({
                            title: "Try tomorrow!",
                            text: "",
                            type: "success",
                            timer: 2000,
                            showConfirmButton: false,
                            closeOnConfirm: true
                        });
                        location.reload();
                    })
                    .fail(function () {
                        swal({
                            title: "Error!",
                            text: "Oops... Something went wrong!",
                            type: "error"
                        });
                    });
                });
            });

        });
    </script>

{% endblock %}

{% block body %}

    <div class="page-header page-header-bordered">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">+HC</li>
        </ol>
        <h1 class="page-title">Alerts</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">New users</h3>
                </div>
                <div class="panel-body">
                    <table id="tableNewUser"
                           data-toggle="table"
                           data-search="false"
                           data-pagination="false"
                           data-classes="table table-no-bordered"
                           data-show-columns="false">
                        <thead>
                        <tr>
                            <th data-field="namesurname">Name & surname</th>
                            <th data-field="country">Country</th>
                            <th data-field="email">Email</th>
                            <th data-field="phoneNumber">Phone</th>
                            <th data-field="registrationDate">Registration date</th>
                            <th data-field="contactAttempts">Contact attempts</th>
                            <th data-field="op">Client is interested?</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
             <script>
                $( document ).ready(function() {
                    var $tableNewUser = $("#tableNewUser");
                    var data = [
                        {% for alertNewUser in alertsNewUser %}
                        {
                            "namesurname": '<a href="{{ path('userView', {'id': alertNewUser.customerUser.id}) }}">{{ alertNewUser.customerUser.name }} {{ alertNewUser.customerUser.surname }}</a>',
                            "country": '{{ alertNewUser.customerUser.countryName }}',
                            "email": '{{ alertNewUser.customerUser.email }}',
                            "phoneNumber": '{{ alertNewUser.customerUser.phoneNumber }}',
                            "registrationDate": '{{ alertNewUser.registrationDate|date('d/m/Y') }}',
                            "contactAttempts": '{{ alertNewUser.firstContactAttempts|default(0) }}',
                            "op": '<div class="alert-actions"><button data-href="{{ path('ajaxUserAlertConfirm', {'id': alertNewUser.id}) }}" class="btn btn-round btn-primary btn-pill-left js-alert-confirm">now</button><button data-href="{{ path('ajaxUserAlertNotConfirm', {'id': alertNewUser.id}) }}" class="btn btn-squared btn-danger js-alert-not-confirm">no contact</button><button data-href="{{ path('ajaxUserAlertConfirmLater', {'id': alertNewUser.id}) }}" class="btn btn-round btn-primary btn-pill-right js-alert-confirm-later">later</button></div>'
                        },
                        {% endfor %}
                    ];
                    $tableNewUser.bootstrapTable({data: data});
                });
             </script>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Users appointments</h3>
                </div>
                <div class="panel-body">
                    <table id="tableAppointment"
                           data-toggle="table"
                           data-search="false"
                           data-pagination="false"
                           data-classes="table table-no-bordered"
                           data-show-columns="false">
                        <thead>
                        <tr>
                            <th data-field="namesurname">Name & surname</th>
                            <th data-field="country">Country</th>
                            <th data-field="email">Email</th>
                            <th data-field="phoneNumber">Phone</th>
                            <th data-field="appointmentDate">Appointment date</th>
                            <th data-field="contactAttempts">Contact attempts</th>
                            <th data-field="op">Are you able to contact client?</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var tableAppointment = $("#tableAppointment");
                    var data = [
                        {% for alertAppointment in alertsAppointment %}
                        {
                            "namesurname": '<a href="{{ path('userView', {'id': alertAppointment.customerUser.id}) }}">{{ alertAppointment.customerUser.name }} {{ alertAppointment.customerUser.surname }}</a>',
                            "country": '{{ alertAppointment.customerUser.countryName }}',
                            "email": '{{ alertAppointment.customerUser.email }}',
                            "phoneNumber": '{{ alertAppointment.customerUser.phoneNumber }}',
                            "appointmentDate": '{{ alertAppointment.appointmentDate|date('d/m/Y') }}',
                            "contactAttempts": '{{ alertAppointment.appointmentAttempts|default(0) }}',
                            "op": '<div class="alert-actions"><button data-href="{{ path('ajaxUserAlertConfirmAppointment', {'id': alertAppointment.id}) }}" class="btn btn-round btn-primary btn-pill-left js-alert-confirm-appointment">now</button><button data-href="{{ path('ajaxUserAlertNotConfirmAppointment', {'id': alertAppointment.id}) }}" class="btn btn-squared btn-danger btn-pill-right js-alert-not-confirm-appointment">no contact</button></div>'
                        },
                        {% endfor %}
                    ];
                    tableAppointment.bootstrapTable({data: data});
                });
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Post therapy</h3>
                </div>
                <div class="panel-body">
                    <table id="tableAppointmentAfter"
                           data-toggle="table"
                           data-search="false"
                           data-pagination="false"
                           data-classes="table table-no-bordered"
                           data-show-columns="false">
                        <thead>
                        <tr>
                            <th data-field="namesurname">Name & surname</th>
                            <th data-field="country">Country</th>
                            <th data-field="email">Email</th>
                            <th data-field="phoneNumber">Phone</th>
                            <th data-field="contactAttempts">Contact attempts</th>
                            <th data-field="op">Are you able to contact client?</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var tableAppointmentAfter = $("#tableAppointmentAfter");
                    var data = [
                        {% for alertAppointmentAfter in alertsAppointmentAfter %}
                        {
                            "namesurname": '<a href="{{ path('userView', {'id': alertAppointmentAfter.customerUser.id}) }}">{{ alertAppointmentAfter.customerUser.name }} {{ alertAppointmentAfter.customerUser.surname }}</a>',
                            "country": '{{ alertAppointmentAfter.customerUser.countryName }}',
                            "email": '{{ alertAppointmentAfter.customerUser.email }}',
                            "phoneNumber": '{{ alertAppointmentAfter.customerUser.phoneNumber }}',
                            "contactAttempts": '{{ alertAppointmentAfter.appointmenAftertAttempts|default(0) }}',
                            "op": '<div class="alert-actions"><button data-href="{{ path('ajaxUserAlertConfirmAppointmentAfter', {'id': alertAppointmentAfter.id}) }}" class="btn btn-round btn-primary btn-pill-left js-alert-confirm-appointment-after">now</button><button data-href="{{ path('ajaxUserAlertNotConfirmAppointmentAfter', {'id': alertAppointmentAfter.id}) }}" class="btn btn-squared btn-danger btn-pill-right js-alert-not-confirm-appointment-after">no contact</button></div>'
                        },
                        {% endfor %}
                    ];
                    tableAppointmentAfter.bootstrapTable({data: data});
                });
            </script>
        </div>
    </div>

{% endblock %}