{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header page-header-bordered">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">+HC</li>
        </ol>
        <h1 class="page-title">Alerts</h1>
    </div>

    {#{ dump(sendQuoteList[0].customerUser.name) }#}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Send estimate to:</h3>
                </div>
                <div class="panel-body">
                    <table id="tableSendEstimate"
                           data-toggle="table"
                           data-search="false"
                           data-pagination="false"
                           data-classes="table table-no-bordered"
                           data-show-columns="false">
                        <thead>
                        <tr>
                            <th data-field="namesurname">Name & surname</th>
                            <th data-field="panorexreceived">Panorex received</th>
                            <th data-field="country">Country</th>
                            <th data-field="email">Email</th>
                            <th data-field="phoneNumber">Phone</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var tableSendEstimate = $("#tableSendEstimate");
                    var data = [
                        {% for sendEstimate in sendEstimateList %}
                        {
                            "namesurname": '<a href="{{ path('userView', {'id': sendEstimate.customerUser.id}) }}">{{ sendEstimate.customerUser.name }} {{ sendEstimate.customerUser.surname }}</a>',
                            "panorexreceived": '{{ sendEstimate.estimateSendDate|date('d/m/Y') }}',
                            "country": '{{ sendEstimate.customerUser.countryName }}',
                            "email": '{{ sendEstimate.customerUser.email }}',
                            "phoneNumber": '{{ sendEstimate.customerUser.phoneNumber }}'
                        },
                        {% endfor %}
                    ];
                    tableSendEstimate.bootstrapTable({data: data});
                });
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Recall for estimate:</h3>
                </div>
                <div class="panel-body">
                    <table id="tableRecallEstimate"
                           data-toggle="table"
                           data-search="false"
                           data-pagination="false"
                           data-classes="table table-no-bordered"
                           data-show-columns="false">
                        <thead>
                        <tr>
                            <th data-field="namesurname">Name & surname</th>
                            <th data-field="lastrecall">Recall</th>
                            <th data-field="attempts">Attemps</th>
                            <th data-field="country">Country</th>
                            <th data-field="email">Email</th>
                            <th data-field="phoneNumber">Phone</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var tableRecallEstimate = $("#tableRecallEstimate");
                    var data = [
                        {% for recallEstimate in recallEstimateList %}
                        {
                            "namesurname": '<a href="{{ path('userView', {'id': recallEstimate.customerUser.id}) }}">{{ recallEstimate.customerUser.name }} {{ recallEstimate.customerUser.surname }}</a>',
                            "lastrecall": '{{ recallEstimate.estimateRecallDate|date('d/m/Y') }}',
                            "attempts": '{{ recallEstimate.estimateRecallAttempts|default(0) }}',
                            "country": '{{ recallEstimate.customerUser.countryName }}',
                            "email": '{{ recallEstimate.customerUser.email }}',
                            "phoneNumber": '{{ recallEstimate.customerUser.phoneNumber }}'
                        },
                        {% endfor %}
                    ];
                    tableRecallEstimate.bootstrapTable({data: data});
                });
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Recall interested later:</h3>
                </div>
                <div class="panel-body">
                    <table id="tableRecallLater"
                           data-toggle="table"
                           data-search="false"
                           data-pagination="false"
                           data-classes="table table-no-bordered"
                           data-show-columns="false">
                        <thead>
                        <tr>
                            <th data-field="namesurname">Name & surname</th>
                            <th data-field="lastrecall">Recall</th>
                            <th data-field="attempts">Attemps</th>
                            <th data-field="country">Country</th>
                            <th data-field="email">Email</th>
                            <th data-field="phoneNumber">Phone</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var tableRecallLater = $("#tableRecallLater");
                    var data = [
                        {% for recallLater in recallLaterList %}
                        {
                            "namesurname": '<a href="{{ path('userView', {'id': recallLater.customerUser.id}) }}">{{ recallLater.customerUser.name }} {{ recallLater.customerUser.surname }}</a>',
                            "lastrecall": '{{ recallLater.interestedLaterDate|date('d/m/Y') }}',
                            "attempts": '{{ recallLater.interestedLaterAttempts|default(0) }}',
                            "country": '{{ recallLater.customerUser.countryName }}',
                            "email": '{{ recallLater.customerUser.email }}',
                            "phoneNumber": '{{ recallLater.customerUser.phoneNumber }}'
                        },
                        {% endfor %}
                    ];
                    tableRecallLater.bootstrapTable({data: data});
                });
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Recall post therapy:</h3>
                </div>
                <div class="panel-body">
                    <table id="tableRecallPostTherapy"
                           data-toggle="table"
                           data-search="false"
                           data-pagination="false"
                           data-classes="table table-no-bordered"
                           data-show-columns="false">
                        <thead>
                        <tr>
                            <th data-field="namesurname">Name & surname</th>
                            <th data-field="lastrecall">Recall</th>
                            <th data-field="attempts">Attemps</th>
                            <th data-field="country">Country</th>
                            <th data-field="email">Email</th>
                            <th data-field="phoneNumber">Phone</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    var tableRecallPostTherapy = $("#tableRecallPostTherapy");
                    var data = [
                        {% for recallPostTherapy in recallPostTherapyList %}
                        {
                            "namesurname": '<a href="{{ path('userView', {'id': recallPostTherapy.customerUser.id}) }}">{{ recallPostTherapy.customerUser.name }} {{ recallPostTherapy.customerUser.surname }}</a>',
                            "lastrecall": '{{ recallPostTherapy.postTherapyRecallDate|date('d/m/Y') }}',
                            "attempts": '{{ recallPostTherapy.postTherapyRecallAttempts|default(0) }}',
                            "country": '{{ recallPostTherapy.customerUser.countryName }}',
                            "email": '{{ recallPostTherapy.customerUser.email }}',
                            "phoneNumber": '{{ recallPostTherapy.customerUser.phoneNumber }}'
                        },
                        {% endfor %}
                    ];
                    tableRecallPostTherapy.bootstrapTable({data: data});
                });
            </script>
        </div>
    </div>

{% endblock %}