<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <ul class="site-menu" data-plugin="menu">
                <li class="site-menu-item logo">
                    <a class="animsition-link" href="#">
                        <img class="navbar-brand-logo" src="{{ asset('/assets/images/logo.png') }}" title="Hc">
                    </a>
                </li>
                <li class="site-menu-item {{ app.request.get('_route') == 'dashboard' ? 'active' : '' }}">
                    <a class="animsition-link" href="{{ path('dashboard') }}">
                        <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans %}Dashboard{% endtrans %}</span>
                    </a>
                </li>
                <li class="site-menu-item {{ app.request.get('_route') == 'alert' ? 'active' : '' }}">
                    <a class="animsition-link" href="{{ path('alert') }}">
                        <i class="site-menu-icon md-notifications" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans %}Alert{% endtrans %}</span>
                    </a>
                </li>
                <li class="site-menu-item {{ app.request.get('_route') == 'fos_user_registration_register' ? 'active' : '' }}">
                    <a class="animsition-link" href="{{ path('fos_user_registration_register') }}">
                        <i class="site-menu-icon md-account-add" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans %}Add user{% endtrans %}</span>
                    </a>
                </li>
                <li class="site-menu-item {{ app.request.get('_route') == 'calendar' ? 'active' : '' }}">
                    <a class="animsition-link" href="{{ path('calendar') }}">
                        <i class="site-menu-icon md-calendar-note" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans %}Calendar{% endtrans %}</span>
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="site-menu-item {{ app.request.get('_route') == 'serviceReport' ? 'active' : '' }}">
                    <a class="animsition-link" href="{{ path('serviceReport') }}">
                        <i class="site-menu-icon md-format-list-bulleted" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans %}Report{% endtrans %}</span>
                    </a>
                </li>
                <li class="site-menu-item {{ app.request.get('_route') == 'serviceAdd' ? 'active' : '' }}">
                    <a class="animsition-link" href="{{ path('serviceAdd') }}">
                        <i class="site-menu-icon md-storage" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans %}Edit system{% endtrans %}</span>
                    </a>
                </li>
                {% endif %}
                <li class="site-menu-item {{ app.request.get('_route') == 'logout' ? 'active' : '' }}">
                    <a class="animsition-link" href="/logout">
                        <i class="site-menu-icon icon md-power" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans %}Logout{% endtrans %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>