{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header page-header-bordered">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">super admin</li>
        </ol>
        <h1 class="page-title">Add Services</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <!-- Panel Static Labels -->
            <div class="panel h-600">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Form Origin</h3>
                </div>
                <div class="panel-body">
                    {% include 'service/formFormOrigin.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="h-600" data-plugin="scrollable">
                <div data-role="container">
                    <div data-role="content">
                        <!-- Panel Static Labels -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">List Form Origin</h3>
                            </div>
                            <div class="panel-body">
                                {% for formOrigin in formsOrigin %}
                                    <button type="button" data-id="{{ formOrigin.id }}" class="btn btn-sm btn-icon btn-primary btn-round waves-effect edit-formOrigin" data-target="#editFormOrigin" data-toggle="modal" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="icon md-edit" aria-hidden="true"></i>
                                    </button>
                                    <div class="row"><span class="heading col-md-3">Name:</span> <span class="content col-md-9">{{ formOrigin.formName }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Domain:</span> <span class="content col-md-9">{{ formOrigin.formDomain }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Notes:</span> <span class="content col-md-9">{{ formOrigin.notes }}</span></div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update Form Origin-->
    <div class="modal fade" id="editFormOrigin" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Update Form Origin</h4>
                </div>
                <div class="modal-body">
                    <div id="ajaxresponse_formFormOriginEdit"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <script>
        $( document ).ready(function() {

            $('.edit-formOrigin').click(function() {
                var id = $(this).data('id');
                var route = '{{ path('ajax_formFormOriginEdit', { 'id': "PLACEHOLDER" }) }}';
                route = route.replace("PLACEHOLDER", id);
                $.ajax({
                    type: 'POST',
                    url:  route,
                    success: function(response) {
                        $('#ajaxresponse_formFormOriginEdit').html(response);
                        $('.modal-body').find('[data-plugin="select2"]').select2({ width: '100%' });
                    },
                    async: false
                })
            });
        });
    </script>

    <div class="row">
        <div class="col-sm-6">
            <!-- Panel Static Labels -->
            <div class="panel h-670">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Clinic</h3>
                </div>
                <div class="panel-body">
                    {% include 'service/formClinic.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="h-670" data-plugin="scrollable">
                <div data-role="container">
                    <div data-role="content">
                        <!-- Panel Static Labels -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">List Clinic</h3>
                            </div>
                            <div class="panel-body">
                                {% for clinic in clinics %}
                                    <button type="button" data-id="{{ clinic.id }}" class="btn btn-sm btn-icon btn-primary btn-round waves-effect edit-clinic" data-target="#editClinic" data-toggle="modal" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="icon md-edit" aria-hidden="true"></i>
                                    </button>
                                    <div class="row"><span class="heading col-md-3">Name:</span> <span class="content col-md-9">{{ clinic.name }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Phone:</span> <span class="content col-md-9">{{ clinic.phoneNumber }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Street number:</span> <span class="content col-md-9">{{ clinic.streetNumber }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Street name:</span> <span class="content col-md-9">{{ clinic.streetName }}</span></div>
                                    <div class="row"><span class="heading col-md-3">City name:</span> <span class="content col-md-9">{{ clinic.cityName }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Zip code:</span> <span class="content col-md-9">{{ clinic.zipCode }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Country:</span> <span class="content col-md-9">{{ clinic.countryName }}</span></div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update Clinic-->
    <div class="modal fade" id="editClinic" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Update Clinic</h4>
                </div>
                <div class="modal-body">
                    <div id="ajaxresponse_formClinicEdit"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <script>
        $( document ).ready(function() {

            $('.edit-clinic').click(function() {
                var id = $(this).data('id');
                var route = '{{ path('ajax_formClinicEdit', { 'id': "PLACEHOLDER" }) }}';
                route = route.replace("PLACEHOLDER", id);
                $.ajax({
                    type: 'POST',
                    url:  route,
                    success: function(response) {
                        $('#ajaxresponse_formClinicEdit').html(response);
                        $('.modal-body').find('[data-plugin="select2"]').select2({ width: '100%' });
                    },
                    async: false
                })
            });
        });
    </script>


    <div class="row">
        <div class="col-sm-6">
            <!-- Panel Static Labels -->
            <div class="panel h-600">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Dem Origin</h3>
                </div>
                <div class="panel-body">
                    {% include 'service/formDemOrigin.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="h-600" data-plugin="scrollable">
                <div data-role="container">
                    <div data-role="content">
                        <!-- Panel Static Labels -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">List Dem Origin</h3>
                            </div>
                            <div class="panel-body">
                                {% for demOrigin in demsOrigin %}
                                    <button type="button" data-id="{{ demOrigin.id }}" class="btn btn-sm btn-icon btn-primary btn-round waves-effect edit-demOrigin" data-target="#editDemOrigin" data-toggle="modal" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="icon md-edit" aria-hidden="true"></i>
                                    </button>
                                    <div class="row"><span class="heading col-md-3">Name:</span> <span class="content col-md-9">{{ demOrigin.demName }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Discount:</span> <span class="content col-md-9">{{ demOrigin.discount }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Notes:</span> <span class="content col-md-9">{{ demOrigin.notes }}</span></div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update Dem Origin-->
    <div class="modal fade" id="editDemOrigin" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Update Dem Origin</h4>
                </div>
                <div class="modal-body">
                    <div id="ajaxresponse_formDemOriginEdit"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <script>
        $( document ).ready(function() {

            $('.edit-demOrigin').click(function() {
                var id = $(this).data('id');
                var route = '{{ path('ajax_formDemOriginEdit', { 'id': "PLACEHOLDER" }) }}';
                route = route.replace("PLACEHOLDER", id);
                $.ajax({
                    type: 'POST',
                    url:  route,
                    success: function(response) {
                        $('#ajaxresponse_formDemOriginEdit').html(response);
                        $('.modal-body').find('[data-plugin="select2"]').select2({ width: '100%' });
                    },
                    async: false
                })
            });
        });
    </script>

    <div class="row">
        <div class="col-sm-6">
            <!-- Panel Static Labels -->
            <div class="panel h-600">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Presentation</h3>
                </div>
                <div class="panel-body">
                    {% include 'service/formPresentation.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="h-600" data-plugin="scrollable">
                <div data-role="container">
                    <div data-role="content">
                        <!-- Panel Static Labels -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">List Presentation</h3>
                            </div>
                            <div class="panel-body">
                                {% for presentation in presentations %}
                                    <button type="button" data-id="{{ presentation.id }}" class="btn btn-sm btn-icon btn-primary btn-round waves-effect edit-presentation" data-target="#editPresentation" data-toggle="modal" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="icon md-edit" aria-hidden="true"></i>
                                    </button>
                                    <div class="row"><span class="heading col-md-3">Name:</span> <span class="content col-md-9">{{ presentation.name }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Place:</span> <span class="content col-md-9">{{ presentation.place }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Date:</span> <span class="content col-md-9">{{ presentation.date|date('d/m/Y') }}</span></div>
                                    <div class="row"><span class="heading col-md-3">Notes:</span> <span class="content col-md-9">{{ presentation.notes }}</span></div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update presentation-->
    <div class="modal fade" id="editPresentation" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Update Presentation</h4>
                </div>
                <div class="modal-body">
                    <div id="ajaxresponse_formPresentationEdit"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <script>
        $( document ).ready(function() {

            $('.edit-presentation').click(function() {
                var id = $(this).data('id');
                var route = '{{ path('ajax_formPresentationEdit', { 'id': "PLACEHOLDER" }) }}';
                route = route.replace("PLACEHOLDER", id);
                $.ajax({
                    type: 'POST',
                    url:  route,
                    success: function(response) {
                        $('#ajaxresponse_formPresentationEdit').html(response);
                        $('.modal-body').find('[data-plugin="select2"]').select2({ width: '100%' });
                        $('.modal-body').find('[data-plugin="datepicker"]').datepicker();
                    },
                    async: false
                })
            });
        });
    </script>

{% endblock %}