{% extends 'base.html.twig' %}

{% block scripts %}

    <script>
        $( document ).ready(function() {

            var $table = $('#ReportTable');

            $table.bootstrapTable();
            $table.bootstrapTable('hideColumn', 'country');
            $table.bootstrapTable('hideColumn', 'presentation');
            $table.bootstrapTable('hideColumn', 'birthDate');
            $table.bootstrapTable('hideColumn', 'address');
            $table.bootstrapTable('hideColumn', 'zipCode');
            $table.bootstrapTable('hideColumn', 'region');
            $table.bootstrapTable('hideColumn', 'taxCode');
            $table.bootstrapTable('hideColumn', 'registrationDate');

            var $ok = $('#userList');

            $(function () {
                $ok.click(function () {
                    //console.log(queryParams());
                    $table.bootstrapTable('refresh');
                });
            });


            $('#report-overview').click(function() {
                var startDate = $('#overview-from-date').val();
                startDate=startDate.replace(/\//g, '-');
                var endDate = $('#overview-to-date').val();
                endDate=endDate.replace(/\//g, '-');

                if(startDate == "" || endDate == ""){
                    startDate = "null";
                    endDate = "null";
                }

                var route = '{{ path('ajax_report_overview', { 'startDate': "STARTDATE", 'endDate': "ENDDATE" }) }}';
                route = route.replace("STARTDATE", startDate);
                route = route.replace("ENDDATE", endDate);

                console.log(route);

                $.ajax({
                    type: 'POST',
                    url:  route,
                    success: function(response) {
                        var overview = $.parseJSON(response);
                        console.log(overview['validDates']);
                        console.log(overview['startDate']);
                        console.log(overview['endDate']);
                        if(overview['query'] == true){
                            $('#users-all-source').text(overview['usersAllSource']);
                            $('#quotes-sent').text(overview['quotesSent']);
                            $('#users-interested').text(overview['usersInterested']);
                            $('#users-appointment').text(overview['usersAppointment'].length);
                            $('#users-interested-later').text(overview['usersInterestedLater']);
                        }
                    },
                    async: true
                })
            });


        });

        function queryParams(params) {
            $('#get').find('input[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
    </script>

{% endblock %}

{% block body %}

    <div class="page-header page-header-bordered">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">+HC</li>
        </ol>
        <h1 class="page-title">Dashboard</h1>
    </div>

    <div class="row overview">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Overview</h3>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <span>From: </span>
                            <input type="text" id="overview-from-date" class="form-control" class="datepicker" name="from" data-plugin="datepicker">
                        </div>
                        <div class="form-group">
                            <span>To: </span>
                            <input type="text" id="overview-to-date" class="form-control" class="datepicker" name="to" data-plugin="datepicker">
                        </div>
                        <button id="report-overview" type="submit" class="btn btn-default">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-12">
            <!-- Card -->
            <div class="card card-block p-35 clearfix">
                <div class="counter counter-md pull-xs-left text-xs-left">
                    <div class="counter-number-group">
                        <span id="users-all-source" class="counter-number">{{ usersAllSource }}</span>
                        <span class="counter-icon m-l-10"><i class="icon md-accounts" aria-hidden="true"></i></span>
                        <div class="counter-label text-capitalize font-size-16">Users</div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-lg-3 col-xs-12">
            <!-- Card -->
            <div class="card card-block p-35 clearfix">
                <div class="counter counter-md pull-xs-left text-xs-left">
                    <div class="counter-number-group">
                        <span id="quotes-sent" class="counter-number">{{ quotesSent }}</span>
                        <span class="counter-icon m-l-10"><i class="icon md-assignment" aria-hidden="true"></i></span>
                        <div class="counter-label text-capitalize font-size-16">Quotes sent</div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-lg-3 col-xs-12">
            <!-- Card -->
            <div class="card card-block p-35 clearfix">
                <div class="counter counter-md pull-xs-left text-xs-left">
                    <div class="counter-number-group">
                        <span id="users-interested" class="counter-number">{{ usersInterested }}</span>
                        <span class="counter-icon m-l-10"><i class="icon md-assignment" aria-hidden="true"></i></span>
                        <div class="counter-label text-capitalize font-size-16">Users interested</div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-lg-3 col-xs-12">
            <!-- Card -->
            <div class="card card-block p-35 clearfix">
                <div class="counter counter-md pull-xs-left text-xs-left">
                    <div class="counter-number-group">
                        <span id="users-interested-later" class="counter-number">{{ usersInterestedLater }}</span>
                        <span class="counter-icon m-l-10"><i class="icon md-assignment" aria-hidden="true"></i></span>
                        <div class="counter-label text-capitalize font-size-16">Users interested later</div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-lg-3 col-xs-12">
            <!-- Card -->
            <div class="card card-block p-35 clearfix">
                <div class="counter counter-md pull-xs-left text-xs-left">
                    <div class="counter-number-group">
                        <span id="users-appointment" class="counter-number">{{ usersAppointment|length }}</span>
                        <span class="counter-icon m-l-10"><i class="icon md-assignment" aria-hidden="true"></i></span>
                        <div class="counter-label text-capitalize font-size-16">Users with appointment</div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">User List</h3>
                </div>
                <div class="panel-body">
                    <div id="get">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <span>From: </span>
                                <input type="text" id="from_date" class="form-control" class="datepicker" name="from" data-plugin="datepicker">
                            </div>
                            <div class="form-group">
                                <span>To: </span>
                                <input type="text" id="to_date" class="form-control" class="datepicker" name="to" data-plugin="datepicker">
                            </div>
                            <button id="userList" type="submit" class="btn btn-default">OK</button>
                        </div>
                    </div>
                    <table id="ReportTable"
                           data-toggle="table"
                           data-url="{{ path('ajax_bootstrap-table_report') }}"
                           data-toolbar="#get"
                           data-show-export="true"
                           data-export-types="['excel', 'txt', 'csv']"
                           data-cache="false"
                           data-side-pagination="server"
                           data-pagination="true"
                           data-sort-name="id"
                           data-sort-order="desc"
                           data-search="false"
                           data-show-columns="true"
                           data-classes="table table-no-bordered"
                           data-page-size="100"
                           data-page-list="[100, ALL]"
                           data-query-params="queryParams">
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">{% trans %}Id{% endtrans %}</th>
                            <th data-field="contactMethod" data-sortable="true">{% trans %}Method{% endtrans %}</th>
                            <th data-field="contactReason" data-sortable="true">{% trans %}Reason{% endtrans %}</th>
                            <th data-field="date" data-sortable="true">{% trans %}Date{% endtrans %}</th>
                            <th data-field="message" data-sortable="true">{% trans %}Message{% endtrans %}</th>
                            <th data-field="notes">{% trans %}Notes{% endtrans %}</th>
                            <th data-field="estimate">{% trans %}Estimate{% endtrans %}</th>
                            <th data-field="formOrigin">{% trans %}Form origin{% endtrans %}</th>
                            <th data-field="clientId">{% trans %}Client id{% endtrans %}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}